<div class="layout-content" style="background-color:#f2f6ff;padding-bottom: 30px;">
    <div class="layout-content">
        <div class="layout-container">

            <h1 class="mb-2h mt-4">{{ .Params.social_media_header }}</h1>
            <div class="row">
    <!-- facebook -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.facebook_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-facebook.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.facebook_header }}</h4>
                        <div class="no-link">
                            <p>{{ .Params.facebook_text }}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>

    <!-- youtube -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.youtube_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-youtube.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.youtube_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.youtube_text }}</p>
                        </div>

                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>
    <!-- linkedin -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.linkedin_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-linkedin.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.linkedin_header }}</h4>
                        <div class="no-link">
                            <p>{{ .Params.linkedin_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

    <!-- instagram -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.instagram_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-insagram_smallt.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.instagram_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.instagram_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

    <!-- telegram -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.telegram_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-telegram.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.telegram_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.telegram_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

  <!-- Threefold_app -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.tfapp_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/tf_app.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.tfapp_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.tfapp_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>
    <!-- medium -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.medium_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/medium-small.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.medium_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.medium_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>
    <!-- telegram2 -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.telegram2_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-telegram.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.telegram2_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.telegram2_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

    <!-- reddit -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.reddit_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/reddit-brands_new.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.reddit_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.reddit_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

            </div>

            <!-- <div class="newsletter_button">
              <a href=" https://threefoldtoken.us17.list-manage.com/subscribe?u=0f8069cf559edca76eb45006b&id=6f65777523" class="btn btn-block btn-md-inline">ThreeFold Newsletter</a>
              <br>
              <br>
              <p>Stay up to date with ThreeFold through our weekly newsletter.</p>
          </div> -->

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4"></div>

          <!-- newsletter -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.tfnewsletter_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/newsletter.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.tfnewsletter_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.tfnewsletter_text }}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4"></div>
            </div>

            <h1 class="mb-2h mt-4">{{ .Params.explore_header }}</h1>
            <div class="row">
            <!-- threefold-Radar -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.radar_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{ .Params.radar_img }}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.radar_header }}</h4>
                        <div class="no-link">
                            <p>{{ .Params.radar_text }}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>

         <!-- capacity_overview -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.capacity_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{ .Params.capacity_img }}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.capacity_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.capacity_text }}</p>
                        </div>

                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>
        <!-- How to contribute -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.contribute_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{ .Params.contribute_img }}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.contribute_header }}</h4>
                        <div class="no-link">
                            <p>{{ .Params.contribute_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

         <!-- info_foundation -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.foundation_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{ .Params.foundation_img }}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.foundation_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.foundation_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

       <!-- info_grid -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.grid_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{ .Params.grid_img }}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.grid_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.grid_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

     <!-- tf_tokens -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.token_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{ .Params.token_img }}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.token_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.token_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>
                <p>{{ .Params.joinus_text }}
                    <a href="{{ .Params.joinus_link }}" target="_top">{{ .Params.joinus_link_name }}</a>
                </p>
            </div>

        </div>
    </div>
</div>
