<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body class="single single-page single-page-sample-page frontpage">

  <!-- GTM scripts -->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58B4KK2" height="0" width="0" style="display:none;visibility:hidden"></iframe>



  <div id="all">

    <div class="layout-header layout-header-fixed">

      {{ partial "nav.html" . }}

    </div>


    {{ range $p := (.Paginate .Data.Pages).Pages }}

    {{ if eq .Section "community" }}
    <div class="layout-content">
      <div class="layout-container">

        <div class="team">{{ $p.Render "community" }}</div>
        {{ if eq .Title "cta" }}
        <div class="my-6">{{ $.Render "vision" }}</div>
        {{end}}
      </div>
    </div>
    {{ else if eq .Section "join" }}
    {{ $p.Render "join" }}
    {{end}}
    {{end}}

  </div>
  <!-- /#all -->

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}

</body>

</html>