<div class="container-wide">
    <div class="w-row">
        <div class="w-col w-col-9">
            <h5 class="empasis-title">{{ .Params.header }}
                <span class="em-supscript">{{ .Params.stSupscript }}</span> {{ .Params.about_title }}
                <span class="em-supscript">{{ .Params.rdSupscript }}</span> {{ .Params.about_secTitle }}</h5>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-3">
            <img src="{{ .Params.img }}" width="180" class="farmers-grid-icon">
        </div>
    </div>
</div>