<div class="container-wide">
    <div class="w-row">
        <div class="w-col w-col-10">
            <h2>
                <strong>{{ .Params.header }}</strong>
            </h2>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-2"></div>
    </div>
    <div class="w-row">
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1"></div>
        <div class="w-col w-col-10">
            <div class="team-card">
                <img src="{{ .Params.map }}">
            </div>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1"></div>
    </div>
</div>