<div class="container-wide">
    <div class="w-row">
        <div class="w-col w-col-8 w-col-stack">
            <h2>{{ .Params.header }}</h2>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
    </div>
    <div class="row-hidden w-hidden-small w-hidden-tiny w-row">
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-stack"></div>
        <div class="w-col w-col-11 w-col-stack"> {{ .Content }}
            <!-- <div class="coop-diy-comp-row w-row">
            <div class="w-col w-col-3 w-col-small-3"></div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="comp-table-header">Co-op Farmer</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="comp-table-header">Individual Farmer</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="comp-table-header">DIY&nbsp;Farmer</p>
            </div>
          </div>
          <div class="row-header-semi w-row">
            <div class="w-col w-col-6 w-col-small-6">
              <p class="comp-table-header c-blue">Hardware</p>
            </div>
            <div class="w-col w-col-6 w-col-small-6"></div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Source hardware</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Co-op</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Co-op</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Anywhere</p>
            </div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Setup</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">30% (of Hardware)</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">30% (of Hardware)</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">0%
                <br>
              </p>
            </div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Installation (Physical&nbsp;+&nbsp;Software)
                <br>
              </p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="tag-yes">Included</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="tag-yes">Included</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Self Provided</p>
            </div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Datacenter Space</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="tag-yes">Included</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Self Provided</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Self Provided</p>
            </div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Power</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="tag-yes">Included</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Self Provided</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Self Provided</p>
            </div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Internet Connectivity</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="tag-yes">Included</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Self Provided</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Self Provided</p>
            </div>
          </div>
          <div class="row-header-semi w-row">
            <div class="w-col w-col-6 w-col-small-6">
              <p class="comp-table-header c-blue">Rules</p>
            </div>
            <div class="w-col w-col-6 w-col-small-6"></div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p muted">Rule Category</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">
                <strong>Certified Unmanaged</strong>
              </p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">
                <strong>Certified Unmanaged</strong>
              </p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">
                <strong>Unmanaged</strong>
              </p>
            </div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">
                <strong>Farming Tokens:</strong>
                <br>earned for being connected to&nbsp;the grid</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Monthly 1/60th of the TFTs at&nbsp;time capacity is assigned, for&nbsp;max 60 months</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">Monthly 1/60th of the TFTs at&nbsp;time capacity is assigned, for&nbsp;max 60 months</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">1/60th of the TFTs at time capacity is assigned, for max 60 months, after 30% of the capacity is sold
                <br>
              </p>
            </div>
          </div>
          <div class="coop-diy-comp-row row-basic w-row">
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">
                <strong>Cultivation Tokens:</strong>
                <br>earned through capacity sales</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">10% to Co-op / 10% to TFF* of&nbsp;Tokens for capacity sold</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">10% to TFF* of Tokens for&nbsp;capacity sold</p>
            </div>
            <div class="w-col w-col-3 w-col-small-3">
              <p class="dark-p">10% to TFF* of Tokens for&nbsp;capacity sold
                <br>
              </p>
            </div>
          </div>
          <p class="footnote">* ThreeFold Foundation
            <br>
          </p> -->
        </div>
    </div>
    <div class="cost-details-sm w-hidden-main w-hidden-medium">

        <p data-toggle="collapse" data-target="#accordion" aria-expanded="false" aria-controls="collapseExample">
            Tap to see the details </p>

        <!-- <div class="accordion-item">
          <div data-w-id="aba7da5a-a7c5-ace0-47c2-1654aa71baa3" class="accordion-header">
            <p class="comp-table-header">Co-op Farmer</p>
          </div>
          <div data-w-id="f94888ad-85d8-2a7a-acb9-707ea4f5c755" style="display:none" class="accordion-content">
            <p class="comp-table-header c-blue">Hardware</p>
            <p class="dark-p dark-p-sm">
              <strong>Source hardware:</strong>&nbsp;Co-op</p>
            <p class="dark-p dark-p-sm">
              <strong>Setup:</strong> 30% (of Hardware)</p>
            <p class="dark-p dark-p-sm">
              <strong>Installation (Physical&nbsp;+&nbsp;Software):</strong>
              <span class="tag-yes">Included</span>
              <br>
            </p>
            <p class="dark-p dark-p-sm">
              <strong>Datacenter Space: </strong>
              <span class="tag-yes">Included</span>
            </p>
            <p class="dark-p dark-p-sm">
              <strong>Power: </strong>
              <span class="tag-yes">Included</span>
            </p>
            <p class="dark-p dark-p-sm">
              <strong>Internet connectivity: </strong>
              <span class="tag-yes">Included</span>
            </p>
            <p class="comp-table-header c-blue second">Rules</p>
            <ul class="ul-sm">
              <li class="li-sm">
                <strong>Certified Unmanaged</strong>
              </li>
              <li class="li-sm">
                <strong>Farming Tokens:</strong>
                <br>earned for being connected to the grid,
                <br>
                <em>Monthly 1/60th of the TFTs at time capacity is assigned, for max 60 months</em>
              </li>
              <li class="li-sm">
                <strong>Cultivation Tokens:</strong>
                <br>earned through capacity sales,
                <br>
                <em>10% to Co-op / 10% to TFF* of Tokens for capacity sold</em>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <div data-w-id="c9b6445e-a22b-a1af-dc75-6baee179d1c0" class="accordion-header">
            <p class="comp-table-header">
              <strong>Individual Farmer</strong>
            </p>
          </div>
          <div style="display:none" class="accordion-content">
            <p class="comp-table-header c-blue">Hardware</p>
            <p class="dark-p dark-p-sm">
              <strong>Source hardware:</strong>&nbsp;Co-op</p>
            <p class="dark-p dark-p-sm">
              <strong>Setup:</strong> 30% (of Hardware)</p>
            <p class="dark-p dark-p-sm">
              <strong>Installation (Physical&nbsp;+&nbsp;Software):</strong>
              <span class="tag-yes">Included</span>
              <br>
            </p>
            <p class="dark-p dark-p-sm">
              <strong>Datacenter Space:</strong> Self Provided</p>
            <p class="dark-p dark-p-sm">
              <strong>Power: </strong>Self Provided</p>
            <p class="dark-p dark-p-sm">
              <strong>Internet connectivity: </strong>Self Provided</p>
            <p class="comp-table-header c-blue second">Rules</p>
            <ul class="ul-sm">
              <li class="li-sm">
                <strong>Certified Unmanaged</strong>
              </li>
              <li class="li-sm">
                <strong>Farming Tokens:</strong>
                <br>earned for being connected to the grid,
                <br>
                <em>Monthly 1/60th of the TFTs at time capacity is assigned, for max 60 months</em>
              </li>
              <li class="li-sm">
                <strong>Cultivation Tokens:</strong>
                <br>earned through capacity sales,
                <br>
                <em>10% to TFF* of Tokens for capacity sold</em>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <div data-w-id="29e8f245-11da-5ebc-56cb-c509c1bb9acc" class="accordion-header">
            <p class="comp-table-header">
              <strong>DIY&nbsp;Farmer</strong>
            </p>
          </div>
          <div style="display:none" class="accordion-content">
            <p class="comp-table-header c-blue">Hardware</p>
            <p class="dark-p dark-p-sm">
              <strong>Source hardware:</strong>&nbsp;Anywhere</p>
            <p class="dark-p dark-p-sm">
              <strong>Setup:</strong> 0%</p>
            <p class="dark-p dark-p-sm">
              <strong>Installation (Physical&nbsp;+&nbsp;Software):</strong> Self Provided
              <br>
            </p>
            <p class="dark-p dark-p-sm">
              <strong>Datacenter Space:</strong> Self Provided</p>
            <p class="dark-p dark-p-sm">
              <strong>Power: </strong>Self Provided</p>
            <p class="dark-p dark-p-sm">
              <strong>Internet connectivity: </strong>Self Provided</p>
            <p class="comp-table-header c-blue second">Rules</p>
            <ul class="ul-sm">
              <li class="li-sm">
                <strong>Unmanaged</strong>
              </li>
              <li class="li-sm">
                <strong>Farming Tokens:</strong>
                <br>earned for being connected to the grid,
                <br>
                <em>1/60th of the TFTs at time capacity is assigned, for max 60 months, after 30% of the capacity is sold</em>
              </li>
              <li class="li-sm">
                <strong>Cultivation Tokens:</strong>
                <br>earned through capacity sales,
                <br>
                <em>10% to TFF* of Tokens for capacity sold</em>
              </li>
            </ul>
            <p class="footnote">* ThreeFold Foundation
              <br>
            </p>
          </div>
        </div> -->

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel accordion-item">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" class="comp-table-header" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Co-op Farmer
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p class="comp-table-header c-blue">Hardware</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Source hardware:</strong>&nbsp;Co-op</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Setup:</strong> 30% (of Hardware)</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Installation (Physical&nbsp;+&nbsp;Software):</strong>
                            <span class="tag-yes">Included</span>
                            <br>
                        </p>
                        <p class="dark-p dark-p-sm">
                            <strong>Datacenter Space: </strong>
                            <span class="tag-yes">Included</span>
                        </p>
                        <p class="dark-p dark-p-sm">
                            <strong>Power: </strong>
                            <span class="tag-yes">Included</span>
                        </p>
                        <p class="dark-p dark-p-sm">
                            <strong>Internet connectivity: </strong>
                            <span class="tag-yes">Included</span>
                        </p>
                        <p class="comp-table-header c-blue second">Rules</p>
                        <ul class="ul-sm">
                            <li class="li-sm">
                                <strong>Certified Unmanaged</strong>
                            </li>
                            <li class="li-sm">
                                <strong>Farming Tokens:</strong>
                                <br>earned for being connected to the grid,
                                <br>
                                <em>Monthly 1/60th of the TFTs at time capacity is assigned, for max 60 months</em>
                            </li>
                            <li class="li-sm">
                                <strong>Cultivation Tokens:</strong>
                                <br>earned through capacity sales,
                                <br>
                                <em>10% to Co-op / 10% to TFF* of Tokens for capacity sold</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel accordion-item">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            <strong>Individual Farmer</strong>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p class="comp-table-header c-blue">Hardware</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Source hardware:</strong>&nbsp;Co-op</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Setup:</strong> 30% (of Hardware)</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Installation (Physical&nbsp;+&nbsp;Software):</strong>
                            <span class="tag-yes">Included</span>
                            <br>
                        </p>
                        <p class="dark-p dark-p-sm">
                            <strong>Datacenter Space:</strong> Self Provided</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Power: </strong>Self Provided</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Internet connectivity: </strong>Self Provided</p>
                        <p class="comp-table-header c-blue second">Rules</p>
                        <ul class="ul-sm">
                            <li class="li-sm">
                                <strong>Certified Unmanaged</strong>
                            </li>
                            <li class="li-sm">
                                <strong>Farming Tokens:</strong>
                                <br>earned for being connected to the grid,
                                <br>
                                <em>Monthly 1/60th of the TFTs at time capacity is assigned, for max 60 months</em>
                            </li>
                            <li class="li-sm">
                                <strong>Cultivation Tokens:</strong>
                                <br>earned through capacity sales,
                                <br>
                                <em>10% to TFF* of Tokens for capacity sold</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel accordion-item">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            <strong>DIY&nbsp;Farmer</strong>

                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p class="comp-table-header c-blue">Hardware</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Source hardware:</strong>&nbsp;Anywhere</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Setup:</strong> 0%</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Installation (Physical&nbsp;+&nbsp;Software):</strong> Self Provided
                            <br>
                        </p>
                        <p class="dark-p dark-p-sm">
                            <strong>Datacenter Space:</strong> Self Provided</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Power: </strong>Self Provided</p>
                        <p class="dark-p dark-p-sm">
                            <strong>Internet connectivity: </strong>Self Provided</p>
                        <p class="comp-table-header c-blue second">Rules</p>
                        <ul class="ul-sm">
                            <li class="li-sm">
                                <strong>Unmanaged</strong>
                            </li>
                            <li class="li-sm">
                                <strong>Farming Tokens:</strong>
                                <br>earned for being connected to the grid,
                                <br>
                                <em>1/60th of the TFTs at time capacity is assigned, for max 60 months, after 30% of the capacity
                                    is sold</em>
                            </li>
                            <li class="li-sm">
                                <strong>Cultivation Tokens:</strong>
                                <br>earned through capacity sales,
                                <br>
                                <em>10% to TFF* of Tokens for capacity sold</em>
                            </li>
                        </ul>
                        <p class="footnote">* ThreeFold Foundation
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>