<div class="container-wide">
    <div class="w-row">
        <div class="w-col w-col-10 w-col-stack">
            <h2>
                <strong>Step 3: </strong>
                <span class="title-blue">
                    <strong>{{ .Params.header }}</strong>
                </span>
            </h2>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-2 w-col-stack"></div>
    </div>
    <div class="w-row">
        <div class="w-hidden-small w-hidden-tiny w-col w-col-1"></div>
        <div class="w-col w-col-4">
            <p>
                <strong class="bold-text">{{ .Params.farmer1_title }}
                    <br>
                </strong>{{ .Params.farmer1_desc }}
                <br>
            </p>
            <p>
                <strong class="bold-text">{{ .Params.farmer2_title }}
                    <br>
                </strong>{{ .Params.farmer2_desc }}
                <br>
            </p>
            <p>
                <strong class="bold-text">{{ .Params.farmer3_title }}
                    <br>
                </strong>{{ .Params.farmer3_desc }}</p>
            <a href="{{ .Params.read_more_link }}" class="github-instruction w-inline-block">
                <p class="paragraph">{{ .Params.read_more_txt }}</p>
            </a>
        </div>
        <div class="w-col w-col-7">
            <img src="{{ .Params.img }}" class="connect-scheme">
        </div>
    </div>
</div>