<div class="container-wide">
    <div class="w-row">
        <div class="w-col w-col-10">
            <h2>
                <strong>{{ .Params.header }}</strong>
            </h2>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-2"></div>
    </div>
    <div class="w-row">
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-medium-4"></div>
        <div class="w-col w-col-3 w-col-medium-4">
            <div class="step-card">
                <div class="step-line line-step1"></div>
                <div class="iso-block"></div>
                <p class="step-text">Step 1</p>
                <h3 class="step-title">
                    <strong>{{ .Params.step1 }}</strong>
                    <br>
                </h3>
            </div>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-medium-4"></div>
        <div class="w-col w-col-3 w-col-medium-4">
            <div data-w-id="58772223-f98b-4843-5e0b-8c07fde3393d" class="step-card">
                <div class="iso-block step-2"></div>
                <p class="step-text">Step 2</p>
                <h3 class="step-title">
                    <strong>{{ .Params.step2 }}</strong>
                    <br>
                </h3>
                <div class="step-line"></div>
            </div>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-medium-4"></div>
        <div class="w-col w-col-3 w-col-medium-4">
            <div data-w-id="ba8f95e5-fae6-3433-3ce9-2d0621e115dc" class="step-card">
                <div class="iso-block step-3"></div>
                <p class="step-text">Step 3</p>
                <h3 class="step-title">
                    <strong>{{ .Params.step3 }}</strong>
                    <br>
                </h3>
                <div class="step-line line-step3"></div>
            </div>
        </div>
    </div>
</div>