<!DOCTYPE html>
<html>

{{ partial "head.html" . }}
{{ if eq .Section "grid" }}
<style>
    .layout-header.layout-header-fixed~.layout-content {
        padding-top: 0;
    }

    @media only screen and (min-width: 320px) and (max-width: 479px) {
        .layout-header.layout-header-fixed~.layout-content {
            padding-top: 80px;
        }
    }
</style>
{{end}}

<body class="single single-page single-page-sample-page frontpage">

    <div id="all">

        <div class="layout-header layout-header-fixed">

            {{ partial "nav.html" . }}

        </div>

        <div class="layout-content">
            {{ range .Data.Pages }}
            {{ if eq .Title "header" }}
            <div class="intro-screen">{{ .Render "header" }}</div>
            <div class="layout-container">

                {{ else if eq .Title "grid_aspects" }}
                <div class="my-6 mt-sm-10">{{ .Render "copy-body" }}</div>
                {{ else if eq .Title "whats-internet" }}
                <div class="my-6 mt-sm-10">{{ .Render "copy-body" }}</div>
                {{ else if eq .Title "use cases" }}
                <div class="how-to-section">{{ .Render "benefits" }}</div>
                {{ else if eq .Title "roadmap" }}
                <div class="step1-section">{{ .Render "roadmap" }}</div>
                {{ else if eq .Title "CTA" }}
                <div class="step1-section">{{ .Render "copy-body" }}</div>
                {{ else if eq .Title "step 2" }}
                <div class="step1-section">{{ .Render "step2" }}</div>
                {{ else if eq .Title "farmer_types 3" }}
                <div class="step1-section">{{ .Render "farmertypes" }}</div>
                {{ else if eq .Title "whatarefarmers" }}
                <div class="my-6 mt-sm-10">{{ .Render "copy-body" }}</div>
                {{ else if eq .Title "earn tokens" }}
                <div class="earn-tokens-section">{{ .Render "earn_tokens" }}</div>
                {{ else if eq .Title "earn tokens" }}
                <div class="earn-tokens-section">{{ .Render "earn_tokens" }}</div>
                {{ else if eq .Title "partners" }}
                <div class="container-wide">{{ .Render "partners" }}</div>
                {{ else if eq .Title "community" }}
                <div class="community-section">{{ .Render "community" }}</div>
                {{ else if eq .Title "video" }}
                <div id="modal-intro-movie" class="modal modal-lightbox fade">{{ .Render "video" }}</div>
                {{end}} {{end}}
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }} {{ partial "scripts.html" . }}
</body>

</html>
