<h3 class="mt-3 mt-md-5">{{ .Params.header }}</h3>
<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 my-1">
        <a href="{{ .Params.stPartners_url }}" target="_blank" class="block-white block-outline block-fullheight">
            <h4 class="alt text-blue mt-0 mb-0h">{{ .Params.stPartners_txt }}</h4>
            <p class="mb-0h no-link">{{ .Params.stPartners_desc }}</p>
            <p class="mb-0">
                <span class="link-target">{{ .Params.stPartners_link }}</span>
            </p>
        </a>
    </div>
</div>