<div class="container-wide">
    <div class="w-row">
        <div class="w-col w-col-10">
            <h2 class="h2-no-push">Step 1:
                <span class="bold">{{ .Params.step1_title }}</span>
            </h2>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-2"></div>
    </div>
    <div class="w-row">
        <div class="w-col w-col-8">
            <p class="intro-p-dark push-bot-20">{{ .Params.step1_desc }}</p>
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4"></div>
    </div>
    <div class="row-4 w-row">
        <div class="w-col w-col-4">
            <p>
                <strong class="bold-text">{{ .Params.farmer1_title }}
                    <br>
                </strong>{{ .Params.farmer1_desc }}
            </p>
        </div>
        <div class="w-col w-col-4">
            <p>
                <strong class="bold-text">{{ .Params.farmer2_title }}
                    <br>
                </strong>{{ .Params.farmer2_desc }}
            </p>
        </div>
        <div class="w-col w-col-4">
            <p>
                <strong class="bold-text">{{ .Params.farmer3_title }}
                    <br>
                </strong>{{ .Params.farmer3_desc }}
            </p>
        </div>
    </div>
    <div class="w-row">
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack">
            <h3>{{ .Params.tfCoop_title }}</h3>
            {{ .Content }}
        </div>
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-stack"></div>
        <div class="w-col w-col-7 w-col-stack">
            <div class="fc-list">
                <div class="farmer-card">
                    <h3 class="step-title f-title">{{ .Params.TFFarmer1 }}</h3>
                    <p class="f-contry">{{ .Params.TFFarmer1_country }}</p>
                    <a href="{{ .Params.TFFarmer1_url }}">{{ .Params.TFFarmer1_txt }}</a>
                </div>
                <div class="farmer-card">
                    <h3 class="step-title f-title">{{ .Params.TFFarmer2 }}</h3>
                    <p class="f-contry">{{ .Params.TFFarmer2_country }}</p>
                    <a href="{{ .Params.TFFarmer2_url }}">{{ .Params.TFFarmer2_txt }}</a>
                </div>
                <div class="farmer-card">
                    <h3 class="step-title f-title">{{ .Params.TFFarmer3 }}</h3>
                    <p class="f-contry">{{ .Params.TFFarmer3_country }}</p>
                    <a href="{{ .Params.TFFarmer3_url }}">{{ .Params.TFFarmer3_txt }}</a>
                </div>

            </div>
            <h3 class="coop-title-push">{{ .Params.contact_qu }}</h3>
            <br>
            <!-- <a href="mailto:{{ .Params.interested_mail }}">{{ .Params.interested_txt }}</a> -->
            <a href="mailto:{{ .Params.contact_mail }}" class="btn btn-block btn-sm-inline btn-green">{{ .Params.contact_txt }}</a>
        </div>
    </div>
</div>