:80 {
    bind 0.0.0.0
    gzip
    root www.threefold.io/en

    git {
        repo ssh://git@docs.grid.tf:7022/threefold/community_data.git
        branch master
        hook /gitea/pull/community_data "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../../../community_data
        then rm -rf ../www_threefold.io/www.threefold.io/en/
        then python3 community.py
        then hugo -s ../www_threefold.io/www.threefold.io
    }

    git {
        repo ssh://git@docs.grid.tf:7022/threefold/data_team.git
        branch master
        hook /gitea/pull/tf_data_team "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../../../threefold/data_team/
        then python3 process.py www_threefold.io/www.threefold.io
        then git reset --hard HEAD
        then git -C "../../bettertoken/data_team" reset --hard HEAD
        then hugo -s ../../www_threefold.io/www.threefold.io
    }

    git {
        repo ssh://git@docs.grid.tf:7022/bettertoken/data_team.git
        branch master
        hook /gitea/pull/bt_data_team "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../../../bettertoken/data_team/
        then python3 ../../threefold/data_team/process.py www_threefold.io/www.threefold.io
        then git reset --hard HEAD
        then git -C "../../threefold/data_team" reset --hard HEAD
        then hugo -s ../../www_threefold.io/www.threefold.io
    }

    git {
        repo https://github.com/threefoldfoundation/www_threefold.io.git
        branch master
        hook /github/pull/www_threefold "zU3687$aJEb6"
        path ../..
        then hugo -s www.threefold.io
    }

    errors {
        404 404.html # Not Found
    }
}
