{% extends "threefoldtoken/base.html" %} 

{ % block content %}

<div id="content" style="padding: 128px 0;">
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3" id="error-page">

            <div class="box">

                <p class="text-center">
                    <a href="/threefoldtoken/index.html">
                        <img src="/threefoldtoken/static/svg/404.svg" alt="ThreefoldToken">
                    </a>
                </p>

                <h3>We are sorry - this page is not here anymore</h3>
                <h4 class="text-muted">Error 404 - Page not found</h4>

                <p class="buttons">
                    <a href="/threefoldtoken/index.html" class="btn btn-template-main">
                        <i class="fa fa-home"></i> Go to Homepage</a>
                </p>
            </div>


        </div>
        <!-- /.col-sm-6 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

{% endblock %}