{% extends "threefoldtoken/grid-base.html" %}
{% block content %}

<!-- intro -->
<div class="layout-content" style="padding-top: 0px;">
    <div class="intro-screen">
        <div class="index-content-viewport">
            <div class="intro-main-content">
                <div class="row w-row">
                    <div class="w-col w-col-6 w-col-stack">
                        <h1 class="c-white">{{doc.part_get(cat="header", nr=0).title}}</h1>
                        <p class="intro-p inner-padding-inner">{{doc.part_get(cat="block", nr=0).text | safe}}</p>
                    </div>
                </div>
            </div>
            <div class="scroll-more w-hidden-tiny">
                <p class="scroll-more-text">{{doc.part_get(cat="block", nr=1).text | safe}}</p>
                <div class="scroll-more-line"></div>
            </div>
        </div>
    </div>

    <!-- Two aspects of the threefold -->
    <div class="layout-container">
        <div class="my-6 mt-sm-10">
            <div class="layout-inner-content">
                <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=1).title}}</h1>
                <div class="page-description">
                    <h4>{{doc.part_get(cat="header", nr=2).title}}</h4>
                    {{doc.part_get(cat="block", nr=2).text | safe}}
                    <br />
                    <br />
                    {{doc.part_get(cat="block", nr=3).text | safe}}
                    <h4>{{doc.part_get(cat="header", nr=3).title}}</h4>
                    {{doc.part_get(cat="block", nr=4).text | safe}}
                    <br />
                    <br />
                    {{doc.part_get(cat="block", nr=5).text | safe}}
                    <br />
                    <br />
                    {{doc.part_get(cat="block", nr=6).text | safe}}
                </div>
            </div>
        </div>

        <!-- What's the internet -->
        <div class="my-6 mt-sm-10">
            <div class="layout-inner-content">
                <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=4).title}}</h1>
                <div class="page-description">
                    {{doc.part_get(cat="block", nr=7).text | safe}}
                </div>
            </div>
        </div>

        <!-- Threefold farmers -->
        <div class="my-6 mt-sm-10">
            <div class="layout-inner-content">
                <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=5).title}}</h1>
                <div class="page-description">
                    {{doc.part_get(cat="block", nr=8).text | safe}}
                </div>
            </div>
        </div>

        <!-- Earn Tokens -->
        <div class="earn-tokens-section">
            <div class="container-wide">
                <div class="w-row">
                    <div class="w-col w-col-8 w-col-stack">
                        <h2>
                            <strong>{{doc.part_get(cat="header", nr=6).title}}</strong>
                        </h2>
                    </div>
                    <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
                </div>
                <div class="row-5 w-row">
                    <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-medium-1 w-col-small-small-stack"></div>
                    <div class="earn-tokens-col-md w-col w-col-5 w-col-medium-5 w-col-small-small-stack">
                        <p class="num-p">1</p>
                        <h3 class="step-title f-title c-blue">{{doc.part_get(cat="header", nr=7).title}}</h3>
                        <p class="intro-p-dark">{{doc.part_get(cat="block", nr=9).text | safe}}</p>
                        {{doc.part_get(cat="block", nr=10).text | safe}}
                        {{doc.part_get(cat="block", nr=11).text | safe}}
                    </div>
                    <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-medium-1 w-col-small-small-stack"></div>
                    <div class="earn-tokens-col-md w-col w-col-4 w-col-medium-4 w-col-small-small-stack">
                        <p class="num-p">2</p>
                        <h3 class="step-title f-title c-blue">{{doc.part_get(cat="header", nr=8).title}}</h3>
                        <p class="intro-p-dark">{{doc.part_get(cat="block", nr=12).text | safe}}</p>
                        {{doc.part_get(cat="block", nr=13).text | safe}}
                    </div>
                    <div class="w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-1 w-col-medium-1 w-col-small-small-stack"></div>
                </div>
            </div>
        </div>

        <!-- Use cases -->
        <div class="how-to-section">
            <div class="layout-section">
                <div class="layout-container">
                    <h2 class="text-blue h2 mt-0">{{doc.part_get(cat="header", nr=9).title}}</h2>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-5 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{doc.link_get(nr=0).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=10).title}}</h6>
                                    {{doc.part_get(cat="block", nr=15).text | safe}}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-5 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{doc.link_get(nr=1).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=11).title}}</h6>
                                    {{doc.part_get(cat="block", nr=17).text | safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-5 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{doc.link_get(nr=2).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=12).title}}</h6>
                                    {{doc.part_get(cat="block", nr=19).text | safe}}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-5 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{doc.link_get(nr=3).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=13).title}}</h6>
                                    {{doc.part_get(cat="block", nr=21).text | safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA sec -->
        <div class="step1-section">
            <div class="layout-inner-content">
                <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=14).title}}</h1>
                <p class="mb-1">{{doc.part_get(cat="block", nr=22).text | safe}}</p>
                <br />
                <a href="{{doc.link_get(nr=4).link_source | safe}}" class="btn btn-block btn-sm-inline btn-green"
                    target="_blank">{{doc.link_get(nr=4).link_descr}}</a>
                <a data-toggle="modal" href="/#modal-grid-movie" class="btn btn-block btn-sm-inline btn-blue">{{doc.link_get(nr=5).link_descr}}</a>
            </div>
        </div>

        <!-- video Block -->
        <div id="modal-grid-movie" class="modal modal-lightbox fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="video-wrapper">
                            <iframe width="940" height="529" src="{{doc.link_get(nr=5).link_source | safe}}"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Roadmap Sec -->
        <div class="step1-section">
            <h2 class="text-blue h2 mt-6 mb-2h">{{doc.part_get(cat="header", nr=15).title}}</h2>
            <section class="home-page--roadmap jarallax">
                <div class="container">
                    <div class="roadmap-container desktop d-none d-lg-block">
                        <div class="details-row row">
                            <div class="details past col">
                                <div class="date">{{doc.part_get(cat="block", nr=25).text | safe}}</div>
                                <div class="title">{{doc.part_get(cat="block", nr=26).text | safe}} </div>
                            </div>
                            <div class="details current col">
                                <div class="date">{{doc.part_get(cat="block", nr=28).text | safe}}</div>
                                <div class="title">{{doc.part_get(cat="block", nr=29).text | safe}}</div>
                            </div>
                            <div class="details future col">
                                <div class="date">{{doc.part_get(cat="block", nr=31).text | safe}}</div>
                                <div class="title">{{doc.part_get(cat="block", nr=32).text | safe}}</div>
                            </div>
                        </div>
                        <div class="timeline-lines row">
                            <div class="timeline-line past col">
                                <div></div>
                            </div>
                            <div class="timeline-line current col">
                                <div></div>
                            </div>
                            <div class="timeline-line futute col">
                                <div></div>
                            </div>
                        </div>
                        <div class="timeline-dots row">
                            <div class="timeline-dot past col">
                                <span></span>
                            </div>
                            <div class="timeline-dot current col">
                                <span></span>
                            </div>
                            <div class="timeline-dot future col">
                                <span></span>
                            </div>
                        </div>
                        <div class="content-row row">
                            <div class="content-container past col d-flex flex-column">
                                <div class="content-block">
                                    {{doc.part_get(cat="block", nr=27).text | safe}}
                                </div>
                                <div class="content-block">
                                    <!-- Q1 text 2 here -->
                                </div>
                            </div>
                            <div class="content-container current col d-flex flex-column">
                                <div class="content-block">
                                    {{doc.part_get(cat="block", nr=30).text | safe}} </div>
                                <div class="content-block">
                                    <!-- Q2 text 2 here -->
                                </div>
                            </div>
                            <div class="content-container future col d-flex flex-column">
                                <div class="content-block">
                                    {{doc.part_get(cat="block", nr=33).text | safe}} </div>
                                <div class="content-block">
                                    <!-- Q3 text 2 here -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="roadmap-container mobile d-block d-lg-none">
                        <div class="roadmap-block past d-flex flex-column">
                            <div class="timeline-dot"></div>
                            <div class="date">{{doc.part_get(cat="block", nr=25).text | safe}}</div>
                            <div class="title">{{doc.part_get(cat="block", nr=26).text | safe}} </div>
                            <div class="content-container row">
                                <div class="content-block col-12 col-md-3">
                                    <div class="title">{{doc.part_get(cat="block", nr=27).text | safe}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-block current d-flex flex-column">
                            <div class="timeline-dot"></div>
                            <div class="date">{{doc.part_get(cat="block", nr=28).text | safe}}</div>
                            <div class="title">{{doc.part_get(cat="block", nr=29).text | safe}} </div>
                            <div class="content-container row">
                                <div class="content-block col-12 col-md-3">
                                    <div class="title">{{doc.part_get(cat="block", nr=30).text | safe}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-block future d-flex flex-column">
                            <div class="timeline-dot"></div>
                            <div class="date">{{doc.part_get(cat="block", nr=31).text | safe}}</div>
                            <div class="title">{{doc.part_get(cat="block", nr=32).text | safe}} </div>
                            <div class="content-container row">
                                <div class="content-block col-12 col-md-3">
                                    {{doc.part_get(cat="block", nr=33).text | safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}