{% extends "threefoldtoken/base.html" %} {% block content %}

<div class="layout-content">
    <div class="layout-intro">
        <div class="layout-container">
            <div class="row align-items-lg-end">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <h1 class="mt-0">{{doc.part_get(cat="header", nr=0).title}}</h1>
                    <div class="lead intro-lead">{{doc.part_get(cat="block", nr=0).html | safe}}</div>
                    <div class="mt-3h">
                        <a data-toggle="modal" href="/#modal-intro-movie" class="btn btn-block btn-sm-inline btn-white">
                            <div class="d-flex justify-content-center">
                                <img src="/threefoldtoken/static/svg/ic-btn-playvideo.svg" class="mr-1" alt="">
                                <span>Watch Video</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-scrollhint-container">
            <div class="layout-container">
                <div class="intro-scrollhint text-white">
                    <strong>{{doc.part_get(cat="block", nr=1).html | safe}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layout-content">
    <div class="layout-container">
        <div class="layout-inner-content">
            <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=1).title}}</h1>
            <div class="page-description mb-3">
                <h4>{{doc.part_get(cat="header", nr=2).title}}</h4>
                {{doc.part_get(cat="block", nr=2).html | safe}}
                <h4>{{doc.part_get(cat="header", nr=3).title}}</h4>
                {{doc.part_get(cat="block", nr=3).html | safe}}
                <h4>{{doc.part_get(cat="header", nr=4).title}}</h4>
                {{doc.part_get(cat="block", nr=4).html | safe}}
            </div>
        </div>
    </div>
    <!-- Components Section -->
    <div class="layout-container">
        <div class="layout-inner-content">
            <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=5).title}}</h1>
            <div class="page-description mb-3">
                <h4>{{doc.part_get(cat="header", nr=6).title}}</h4>
                {{doc.part_get(cat="block", nr=5).html | safe}}
                <h4>{{doc.part_get(cat="header", nr=7).title}}</h4>
                {{doc.part_get(cat="block", nr=6).html | safe}}
                <h4>{{doc.part_get(cat="header", nr=8).title}}</h4>
                {{doc.part_get(cat="block", nr=7).html | safe}}
                <h4>{{doc.part_get(cat="header", nr=9).title}}</h4>
                {{doc.part_get(cat="block", nr=8).html | safe}}
            </div>
        </div>
        <!-- Technologies Section -->
        <div class="layout-inner-content">
            <h2 class="text-blue h2 mb-3">{{doc.part_get(cat="header", nr=10).title}}</h2>
        </div>

        <div class="row mb-3 mb-lg-5h">
            <div class="col-12 col-lg-5">
                <img width="300" height="300" src="{{doc.link_get(nr=0).link_source | safe}}" alt="" class="d-block mx-auto mx-lg-0 mb-4" sizes="(max-width: 300px) 100vw, 300px"> 
            </div>
            <div class="col-12 col-lg-7 order-lg-first">
                <div class="layout-tiny-inner-content">
                    <h4>{{doc.part_get(cat="header", nr=11).title}}</h4>
                    {{doc.part_get(cat="block", nr=10).html | safe}}
                    <h4>{{doc.part_get(cat="header", nr=12).title}}</h4>
                    {{doc.part_get(cat="block", nr=11).html | safe}}
                    <h4>{{doc.part_get(cat="header", nr=13).title}}</h4>
                    {{doc.part_get(cat="block", nr=12).html | safe}}
                </div>
            </div>
        </div>

        <!-- Roadmap Section -->
        <h2 class="text-blue h2 mt-6 mb-2h">{{doc.part_get(cat="header", nr=14).title}}</h2>
        <section class="home-page--roadmap jarallax">
            <div class="container">
                <div class="row flex-column">
                    <!-- <div class="col-12">
                    <div class="noia-section-indicator">
                       <svg>
                         <use xlink:href="https://noia.network/wp-content/themes/noia-rebrand/dist/images/spritemap.svg#sprite-icon-section-indicator"></use>
                       </svg>
                       </div>
                 </div> -->
                    <!-- <div class="col-12">
                    <h2 class="section-title">Roadmap</h2>
                    </div> -->
                </div>
                <div class="roadmap-container desktop d-none d-lg-block">
                    <div class="details-row row">
                        <div class="details current col">
                            <div class="date"> 
                                {{doc.part_get(cat="block", nr=13).html | safe}}
                            </div>
                            <div class="title">
                                {{doc.part_get(cat="block", nr=14).html | safe}}
                            </div>
                        </div>
                        <div class="details past col">
                            <div class="date">
                                {{doc.part_get(cat="block", nr=15).html | safe}}
                            </div>
                            <div class="title">
                                {{doc.part_get(cat="block", nr=16).html | safe}}
                            </div>
                        </div>
                        <div class="details future col">
                            <div class="date">
                                {{doc.part_get(cat="block", nr=17).html | safe}}
                            </div>
                            <div class="title">
                                {{doc.part_get(cat="block", nr=18).html | safe}}
                            </div>
                        </div>
                        <div class="details future col">
                            <div class="date">
                                {{doc.part_get(cat="block", nr=19).html | safe}}
                            </div>
                            <div class="title">
                                {{doc.part_get(cat="block", nr=20).html | safe}}
                            </div>
                        </div>
                        <div class="details future col">
                            <div class="date">
                                {{doc.part_get(cat="block", nr=21).html | safe}}
                            </div>
                            <div class="title">
                                {{doc.part_get(cat="block", nr=22).html | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="timeline-lines row">
                        <div class="timeline-line past col">
                            <div></div>
                        </div>
                        <div class="timeline-line current col">
                            <div></div>
                        </div>
                        <div class="timeline-line future col">
                            <div></div>
                        </div>
                        <div class="timeline-line future col">
                            <div></div>
                        </div>
                        <div class="timeline-line future col">
                            <div></div>
                        </div>
                    </div>
                    <div class="timeline-dots row">
                        <div class="timeline-dot past col">
                            <span></span>
                        </div>
                        <div class="timeline-dot current col">
                            <span></span>
                        </div>
                        <div class="timeline-dot future col">
                            <span></span>
                        </div>
                        <div class="timeline-dot future col">
                            <span></span>
                        </div>
                        <div class="timeline-dot future col">
                            <span></span>
                        </div>
                    </div>
                    <div class="content-row row">
                        <div class="content-container past col d-flex flex-column">
                            <div class="content-block">
                                <!-- Q1 text here -->
                            </div>
                        </div>
                        <div class="content-container current col d-flex flex-column">
                            <div class="content-block">
                                <!-- Q2 text here -->
                            </div>
                        </div>
                        <div class="content-container future col d-flex flex-column">
                            <div class="content-block">
                                <!-- Q3 text here -->
                            </div>
                        </div>
                        <div class="content-container future col d-flex flex-column">
                            <div class="content-block">
                                <!-- Q4 text here -->
                            </div>
                        </div>
                        <div class="content-container future col d-flex flex-column">
                            <div class="content-block">
                                <!-- Q5 text here -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roadmap-container mobile d-block d-lg-none">
                    <div class="roadmap-block past d-flex flex-column">
                        <div class="timeline-dot"></div>
                        <div class="date">
                            {{doc.part_get(cat="block", nr=13).html | safe}}
                        </div>
                        <div class="title">
                            {{doc.part_get(cat="block", nr=14).html | safe}}
                        </div>
                        <div class="content-container row">
                            <div class="content-block col-12 col-md-3">
                                <!-- Q1 text here  -->
                            </div>
                        </div>
                    </div>
                    <div class="roadmap-block current d-flex flex-column">
                        <div class="timeline-dot"></div>
                        <div class="date">
                            {{doc.part_get(cat="block", nr=15).html | safe}}
                        </div>
                        <div class="title">
                            {{doc.part_get(cat="block", nr=16).html | safe}}
                        </div>
                        <div class="content-container row">
                            <div class="content-block col-12 col-md-3">
                                <!-- Q2 text here -->
                            </div>
                        </div>
                    </div>
                    <div class="roadmap-block future d-flex flex-column">
                        <div class="timeline-dot"></div>
                        <div class="date">
                            {{doc.part_get(cat="block", nr=17).html | safe}}
                        </div>
                        <div class="title">
                            {{doc.part_get(cat="block", nr=18).html | safe}}
                        </div>
                        <div class="content-container row">
                            <div class="content-block col-12 col-md-3">
                                <!-- Q3 text here  -->
                            </div>
                        </div>
                    </div>
                    <div class="roadmap-block future d-flex flex-column">
                        <div class="timeline-dot"></div>
                        <div class="date">
                            {{doc.part_get(cat="block", nr=19).html | safe}}
                        </div>
                        <div class="title">
                            {{doc.part_get(cat="block", nr=20).html | safe}}
                        </div>
                        <div class="content-container row">
                            <div class="content-block col-12 col-md-3">
                                <!-- Q4 text here -->
                            </div>
                        </div>
                    </div>
                    <div class="roadmap-block future d-flex flex-column">
                        <div class="timeline-dot"></div>
                        <div class="date">
                            {{doc.part_get(cat="block", nr=21).html | safe}}
                        </div>
                        <div class="title">
                            {{doc.part_get(cat="block", nr=22).html | safe}}
                        </div>
                        <div class="content-container row">
                            <div class="content-block col-12 col-md-3">
                                <!-- Q5 text here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
            </div>
        </section>

        <div class="row">
            <div id="modal-intro-movie" class="modal modal-lightbox fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="video-wrapper">
                                <iframe width="940" height="529" src="{{doc.link_get(nr=1).link_source | safe}}" frameborder="0" allow="autoplay; encrypted-media"
                                    allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}