{% extends "threefoldtoken/base.html" %}

{% block content %}







<div class="layout-content" style="background-color:#f2f6ff;padding-bottom: 30px;">
    <div class="layout-content">
        <div class="layout-container">

            <h1 class="mb-2h mt-4">{{doc.part_get(cat="header", nr=0).title}}</h1>
            <div class="row">
    <!-- facebook -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{doc.link_get(nr=0).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{doc.link_get(nr=1).link_source | safe}}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=1).title}}</h4>
                        <div class="no-link">
                            <p>{{doc.part_get(cat="block", nr=2).html | safe}}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>

    <!-- youtube -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=2).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=3).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=2).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=5).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>
    <!-- linkedin -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=4).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=5).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=3).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=8).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>

    <!-- instagram -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=6).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=7).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=4).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=11).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>

    <!-- telegram -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=8).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=9).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=5).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=14).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>

  <!-- Threefold_app -->
  <div class="col-12 col-md-6 col-lg-4 mb-4">
        <a href="{{doc.link_get(nr=10).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
          <div class="icon">
                      <img src="{{doc.link_get(nr=11).link_source | safe}}" class="attachment-full size-full" alt="">
                  </div>
            <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=6).title}}</h4>
            <div class="no-link">
                <p>{{doc.part_get(cat="block", nr=17).html | safe}}</p>
            </div>
            <!-- <span class="more-link">Join Us</span> -->
        </a>
    </div>
    <!-- medium -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=12).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=13).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=7).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=20).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>
    <!-- telegram2 -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=14).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=15).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=8).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=23).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>

    <!-- reddit -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=16).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=17).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=9).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=26).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>

            </div>

            <!-- <div class="newsletter_button">
              <a href=" https://threefoldtoken.us17.list-manage.com/subscribe?u=0f8069cf559edca76eb45006b&id=6f65777523" class="btn btn-block btn-md-inline">ThreeFold Newsletter</a>
              <br>
              <br>
              <p>Stay up to date with ThreeFold through our weekly newsletter.</p>
          </div> -->

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4"></div>

          <!-- newsletter -->
          <div class="col-12 col-md-6 col-lg-4 mb-4">
                <a href="{{doc.link_get(nr=18).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                  <div class="icon">
                              <img src="{{doc.link_get(nr=19).link_source | safe}}" class="attachment-full size-full" alt="">
                          </div>
                    <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=10).title}}</h4>
                    <div class="no-link">
                        <p>{{doc.part_get(cat="block", nr=29).html | safe}}</p>
                    </div>
                    <!-- <span class="more-link">Join Us</span> -->
                </a>
            </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4"></div>
            </div>

            <h1 class="mb-2h mt-4">{{doc.part_get(cat="header", nr=11).title}}</h1>
            <div class="row">
            <!-- threefold-Radar -->
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{doc.link_get(nr=20).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="{{doc.link_get(nr=21).link_source | safe}}" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=12).title}}</h4>
                        <div class="no-link">
                            <p>{{doc.part_get(cat="block", nr=32).html | safe}}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>

         <!-- capacity_overview -->
         <div class="col-12 col-md-6 col-lg-4 mb-4">
                <a href="{{doc.link_get(nr=22).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                  <div class="icon">
                              <img src="{{doc.link_get(nr=23).link_source | safe}}" class="attachment-full size-full" alt="">
                          </div>
                    <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=13).title}}</h4>
                    <div class="no-link">
                        <p>{{doc.part_get(cat="block", nr=35).html | safe}}</p>
                    </div>
                    <!-- <span class="more-link">Join Us</span> -->
                </a>
            </div>
        <!-- How to contribute -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
                <a href="{{doc.link_get(nr=24).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                  <div class="icon">
                              <img src="{{doc.link_get(nr=25).link_source | safe}}" class="attachment-full size-full" alt="">
                          </div>
                    <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=14).title}}</h4>
                    <div class="no-link">
                        <p>{{doc.part_get(cat="block", nr=38).html | safe}}</p>
                    </div>
                    <!-- <span class="more-link">Join Us</span> -->
                </a>
            </div>

         <!-- info_foundation -->
         <div class="col-12 col-md-6 col-lg-4 mb-4">
                <a href="{{doc.link_get(nr=26).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                  <div class="icon">
                              <img src="{{doc.link_get(nr=27).link_source | safe}}" class="attachment-full size-full" alt="">
                          </div>
                    <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=15).title}}</h4>
                    <div class="no-link">
                        <p>{{doc.part_get(cat="block", nr=41).html | safe}}</p>
                    </div>
                    <!-- <span class="more-link">Join Us</span> -->
                </a>
            </div>

       <!-- info_grid -->
       <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=28).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=29).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=16).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=44).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>

     <!-- tf_tokens -->
     <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{{doc.link_get(nr=30).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
              <div class="icon">
                          <img src="{{doc.link_get(nr=31).link_source | safe}}" class="attachment-full size-full" alt="">
                      </div>
                <h4 class="mt-0 mb-0h">{{doc.part_get(cat="header", nr=17).title}}</h4>
                <div class="no-link">
                    <p>{{doc.part_get(cat="block", nr=47).html | safe}}</p>
                </div>
                <!-- <span class="more-link">Join Us</span> -->
            </a>
        </div>
                <p>{{doc.part_get(cat="block", nr=48).html | safe}}
                    <a href="mailto:info@threefoldtoken.com" target="_top">info@threefoldtoken.com</a>
                </p>
            </div>

        </div>
    </div>
</div>


{% endblock %}
