{% extends "threefoldtoken/base.html" %}

{% block content %}

<div class="layout-content" style="background-color:#f2f6ff;padding-bottom: 30px;">
    <div class="layout-content">
        <div class="layout-container">


            <h1 class="mb-2h mt-4">{{ doc.part_get(cat="header", nr=0).title }}</h1>
            <div class="row">
                <!-- threefold-Radar -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{doc.link_get(nr=0).link_source | safe }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="{{ doc.link_get(nr=1).link_source | safe}}" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ doc.part_get(cat="header", nr=1).title }}</h4>
                        <div class="no-link">
                            <p>{{ doc.part_get(cat="block", nr=2).text | safe }}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>

                <!-- capacity_overview -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ doc.link_get(nr=2).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="{{ doc.link_get(nr=3).link_source | safe }}" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ doc.part_get(cat="header", nr=2).title }}</h4>

                        <div class="no-link">
                            <p>{{ doc.part_get(cat="block", nr=4).text | safe }}</p>
                        </div>

                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>
                <!-- How to contribute -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ doc.link_get(nr=4).link_source | safe}}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="{{ doc.link_get(nr=5).link_source | safe }}" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ doc.part_get(cat="header", nr=3).title }}</h4>
                        <div class="no-link">
                            <p>{{ doc.part_get(cat="block", nr=6).text | safe }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

                <!-- info_foundation -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ doc.link_get(nr=6).link_source | safe }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="{{ doc.link_get(nr=7).link_source | safe }}" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ doc.part_get(cat="header", nr=4).title }}</h4>

                        <div class="no-link">
                            <p>{{ doc.part_get(cat="block", nr=8).text | safe }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

                <!-- info_grid -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ doc.link_get(nr=8).link_source | safe }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="{{ doc.link_get(nr=9).link_source | safe }}" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ doc.part_get(cat="header", nr=5).title }}</h4>

                        <div class="no-link">
                            <p>{{ doc.part_get(cat="block", nr=10).text | safe  }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

                <!-- tf_tokens -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ doc.link_get(nr=10).link_source | safe }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="{{ doc.link_get(nr=11).link_source | safe }}" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ doc.part_get(cat="header", nr=6).title }}</h4>

                        <div class="no-link">
                            <p>{{ doc.part_get(cat="block", nr=12).text | safe  }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>
                <p>{{ doc.part_get(cat="block", nr=13).text | safe  }}
                    <a href="{{ doc.link_get(nr=12).link_source | safe }}" target="_top">{{ doc.link_get(nr=12).link_descr }}</a>
                </p>
            </div>
            <h1 class="mb-2h mt-4">{{ doc.part_get(cat="header", nr=7).title  }}</h1>
            <div class="row">
                <!-- facebook -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ doc.link_get(nr=13).link_source | safe }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="/svg/ic-facebook.svg" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.facebook_header }}</h4>
                        <div class="no-link">
                            <p>{{ .Params.facebook_text }}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>

                <!-- youtube -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.youtube_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="/svg/ic-youtube.svg" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.youtube_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.youtube_text }}</p>
                        </div>

                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>
                <!-- linkedin -->
                <!-- <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.linkedin_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-linkedin.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.linkedin_header }}</h4>
                        <div class="no-link">
                            <p>{{ .Params.linkedin_text }}</p>
                        </div>
                    </a>
                </div> -->

                <!-- instagram -->
                <!-- <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.instagram_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-insagram_smallt.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.instagram_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.instagram_text }}</p>
                        </div>
                    </a>
                </div> -->

                <!-- telegram -->
                <!-- <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.telegram_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                      <div class="icon">
                                  <img src="/svg/ic-telegram.svg" class="attachment-full size-full" alt="">
                              </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.telegram_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.telegram_text }}</p>
                        </div>
                    </a>
                </div> -->

                <!-- Threefold_app -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.tfapp_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="/svg/tf_app.svg" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.tfapp_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.tfapp_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>
                <!-- medium -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.medium_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="/svg/medium-small.svg" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.medium_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.medium_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>
                <!-- telegram2 -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.telegram2_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="/svg/ic-telegram.svg" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.telegram2_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.telegram2_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

                <!-- reddit -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.reddit_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="/svg/reddit-brands_new.svg" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.reddit_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.reddit_text }}</p>
                        </div>

                        <!-- <span class="more-link">Learn More</span> -->
                    </a>
                </div>

            </div>

            <!-- <div class="newsletter_button">
              <a href=" https://threefoldtoken.us17.list-manage.com/subscribe?u=0f8069cf559edca76eb45006b&id=6f65777523" class="btn btn-block btn-md-inline">ThreeFold Newsletter</a>
              <br>
              <br>
              <p>Stay up to date with ThreeFold through our weekly newsletter.</p>
          </div> -->

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4"></div>

                <!-- newsletter -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .Params.tfnewsletter_link }}" target="_blank" class="block-white block-outline block-icon block-more join">
                        <div class="icon">
                            <img src="/svg/newsletter.svg" class="attachment-full size-full" alt="">
                        </div>
                        <h4 class="mt-0 mb-0h">{{ .Params.tfnewsletter_header }}</h4>

                        <div class="no-link">
                            <p>{{ .Params.tfnewsletter_text }}</p>
                        </div>
                        <!-- <span class="more-link">Join Us</span> -->
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4"></div>
            </div>



        </div>
    </div>
</div>

{% endblock %}
