<div class="layout-container">
    <div class="header-container">
        <a href="/threefoldtoken/index.html" class="header-brand">
            <img src="/threefoldtoken/static/svg/threefold-logo-white.svg" alt="">
        </a>

        <button class="nav-toggle d-lg-none collapsed" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="burger-part"></span>
            <span class="burger-part"></span>
            <span class="burger-part"></span>
        </button>

        <div class="collapse nav-collapse" id="nav-collapse">
            <div class="layout-container">
                {% set navigation_bar = [
                    ('/threefoldtoken/index.html', 'index', 'Home'), 
                    ('/threefoldtoken/grid.html', 'grid', 'Grid'), 
                    ('/threefoldtoken/tokens.html', 'tokens', 'Tokens'), 
                    ('/threefoldtoken/community.html','community', 'Community'), 
                    ('https://docs.google.com/document/d/16C3EKKBaK4_DyWFUcvdLnvDyN57h77e0Q1mWMpZL5vc/edit', 'whitepaper', 'Whitepaper'),
                    ('https://threefoldfoundation.github.io/info_foundation/#/blog/README', 'info', 'Info'), 
                    ('/threefoldtoken/join.html', 'join', 'Join & Follow')
                ] -%} 
                    
                {% set active_page = active_page|default('index') -%}
                
                <ul id="menu-top-menu" class="nav">
                    {% for href, id, caption in navigation_bar %}
                    <li class="nav-item">
                        <a href="{{ href|e }}" class="nav-link {{ 'active' if id==active_page else '' }}" {% if (id=='whitepaper' or id=='info' )%} target="_blank" {% endif %}>
                            {{ caption|e }}
                            {% if (id=='whitepaper' or id=='info' )%}
                            <img class="ml-0h" src="/threefoldtoken/static/svg/ic-externallink.svg">
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>