{% extends "threefoldtoken/base.html" %}
{% block content %}

<div class="layout-content">
    <div class="layout-intro">
        <div class="layout-container">
            <div class="row align-items-lg-end">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <h1 class="mt-0">{{doc.part_get(cat="header", nr=0).title}}</h1>
                    <p class="mb-2 intro-price">
                        {{doc.part_get(cat="block", nr=0).text | safe}}
                        <strong>{{doc.part_get(cat="block", nr=1).text | safe}}</strong>
                        <img src="{{doc.link_get(nr=0).link_source | safe}}" class="intro-stocks" alt="">
                        <!-- <span class="intro-muted d-block d-xl-inline"></span> -->
                    </p>

                    <div class="lead intro-lead">
                        <p>{{doc.part_get(cat="block", nr=3).text | safe}}
                            <span class="text-white">
                                <strong>{{doc.part_get(cat="block", nr=4).text | safe}}</strong>
                            </span>
                        </p>
                    </div>

                    <div class="mt-3h">
                        <a href="{{doc.link_get(nr=1).link_source | safe}}" class="btn btn-block btn-sm-inline btn-green">{{doc.link_get(nr=1).link_descr}}</a>
                        <a href="{{doc.link_get(nr=2).link_source | safe}}" class="btn btn-block btn-sm-inline btn-white btn-outline"
                            target="_blank">{{doc.link_get(nr=2).link_descr}}</a>
                    </div>
                </div>

                <!-- <div class="col-12 col-lg-6 mt-2 text-lg-center">
                    <a href="" data-toggle="modal" class="btn btn-block btn-sm-inline btn-white"></a>
                </div> -->

            </div>
        </div>
        <div class="intro-scrollhint-container">
            <div class="layout-container">
                <div class="intro-scrollhint text-white">
                    <strong>{{doc.part_get(cat="block", nr=7).text | safe}}</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <!-- ThreeFold Token Benefits -->
        <div class="my-6 mt-sm-10">
            <div class="layout-section">
                <div class="layout-container">
                    <h2 class="mt-0">{{doc.part_get(cat="header", nr=1).title}}</h2>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{doc.link_get(nr=3).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=2).title}}</h6>
                                    <p>{{doc.part_get(cat="block", nr=9).text | safe}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{doc.link_get(nr=4).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=3).title}}</h6>
                                    <p>{{doc.part_get(cat="block", nr=11).text | safe}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{doc.link_get(nr=6).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=4).title}}</h6>
                                    <p>{{doc.part_get(cat="block", nr=13).text | safe}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- where to buy threefold tokens -->
        <div class="w-row">
            <h2 class="mt-0">{{doc.part_get(cat="header", nr=5).title}}</h2>
            <div class="w-col w-col-stack">
                <div class="fc-list">
                    <div class="farmer-card">
                        <h3 class="step-title f-title">{{doc.part_get(cat="header", nr=6).title}}</h3>
                        <p class="f-contry">{{doc.part_get(cat="block", nr=14).text | safe}}</p>
                        <a href="{{doc.link_get(nr=7).link_source | safe}}">{{doc.link_get(nr=7).link_descr}}</a>
                    </div>
                    <div class="farmer-card">
                        <h3 class="step-title f-title">{{doc.part_get(cat="header", nr=7).title}}</h3>
                        <p class="f-contry">{{doc.part_get(cat="block", nr=16).text | safe}}</p>
                        <a href="{{doc.link_get(nr=8).link_source | safe}}">{{doc.link_get(nr=8).link_descr}}</a>
                    </div>
                    <div class="farmer-card">
                        <h3 class="step-title f-title">{{doc.part_get(cat="header", nr=8).title}}</h3>
                        <p class="f-contry">{{doc.part_get(cat="block", nr=18).text | safe}}</p>
                        <a href="{{doc.link_get(nr=9).link_source | safe}}">{{doc.link_get(nr=9).link_descr}}</a>
                    </div>
                    <div class="farmer-card">
                        <h3 class="step-title f-title">{{doc.part_get(cat="header", nr=9).title}}</h3>
                        <p class="f-contry">{{doc.part_get(cat="block", nr=20).text | safe}}</p>
                        <a href="{{doc.link_get(nr=10).link_source | safe}}">{{doc.link_get(nr=10).link_descr}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- TF stats and explorers -->
        <div class="my-6">
            <div id="section-stats" class="layout-section">
                <div class="layout-container">
                    <h2 class="mt-0">{{doc.part_get(cat="header", nr=10).title}}</h2>
                    <div class="row">
                        <div class="col-12 col-xl-11 offset-xl-1 my-1">
                            <div class="block-aqua block-stats">
                                <div class="row no-gutters my-n1 my-sm-0">
                                    <div class="col-12 col-md-3 my-1 my-md-0 pr-md-3 pr-lg-4">
                                        <p class="mb-0h text-black">{{doc.part_get(cat="block", nr=22).text | safe}}</p>
                                        <p class="mb-0 stat-number text-blue">{{doc.part_get(cat="block", nr=23).text |
                                            safe}}</p>
                                    </div>
                                    <div class="col-12 col-md-6 my-1 my-md-0 pr-md-3 pr-lg-4">
                                        <div class="stat-separator"></div>
                                        <p class="mb-0h text-black">{{doc.part_get(cat="block", nr=24).text | safe}}</p>
                                        <p class="mb-0 stat-number text-blue" id="capitalization"></p>
                                    </div>
                                    <div class="col-12 col-md-3 my-1 my-md-0">
                                        <div class="stat-separator"></div>
                                        <p class="mb-0h text-black">{{doc.part_get(cat="block", nr=25).text | safe}}</p>
                                        <p class="mb-0 stat-number text-blue" id="volume"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-11 offset-xl-1">
                            <div class="row">
                                <div class="col-12 col-md-4 my-1">
                                    <a href="{{doc.link_get(nr=11).link_source | safe}}" target="_blank" class="block-white block-outline block-stats">
                                        <div class="row align-items-center">
                                            <div class="col-10 col-md-12 col-lg-8 text-md-center text-lg-left">
                                                <span class="d-block text-black mb-md-1 mb-lg-0">{{doc.link_get(nr=11).link_descr}}</span>
                                            </div>
                                            <div class="col-2 col-md-12 col-lg-4 order-first order-md-2 order-lg-first">
                                                <img src="{{doc.link_get(nr=12).link_source | safe}}" class="d-block mx-auto">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-4 my-1">
                                    <a href="{{doc.link_get(nr=13).link_source | safe}}" target="_blank" class="block-white block-outline block-stats">
                                        <div class="row align-items-center">
                                            <div class="col-10 col-md-12 col-lg-8 text-md-center text-lg-left">
                                                <span class="d-block text-black mb-md-1 mb-lg-0">{{doc.link_get(nr=13).link_descr
                                                    | safe}}</span>
                                            </div>
                                            <div class="col-2 col-md-12 col-lg-4 order-first order-md-2 order-lg-first">
                                                <img src="{{doc.link_get(nr=14).link_source | safe}}" class="d-block mx-auto">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-4 my-1">
                                    <a href="{{doc.link_get(nr=15).link_source | safe}}" target="_blank" class="block-white block-outline block-stats">
                                        <div class="row align-items-center">
                                            <div class="col-10 col-md-12 col-lg-8 text-md-center text-lg-left">
                                                <span class="d-block text-black mb-md-1 mb-lg-0">{{doc.link_get(nr=15).link_descr
                                                    | safe}}</span>
                                            </div>
                                            <div class="col-2 col-md-12 col-lg-4 order-first order-md-2 order-lg-first">
                                                <img src="{{doc.link_get(nr=16).link_source | safe}}" class="d-block mx-auto">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Token Utilization -->
        <div class="my-6">
            <div class="layout-section">
                <div class="layout-container">
                    <h2 class="mt-0">{{doc.part_get(cat="header", nr=11).title}}</h2>
                    <div class="row">
                        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                            <div class="lead mb-4">
                                {{doc.part_get(cat="block", nr=32).text | safe}}
                                <br />
                                {{doc.part_get(cat="block", nr=33).text | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{doc.link_get(nr=17).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=12).title}}</h6>
                                    <p>{{doc.part_get(cat="block", nr=35).text | safe}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{doc.link_get(nr=18).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=13).title}}</h6>
                                    <p>{{doc.part_get(cat="block", nr=37).text | safe}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{doc.link_get(nr=19).link_source | safe}}" class="attachment-full size-full">
                                </div>
                                <div class="col-12">
                                    <h6 class="alt">{{doc.part_get(cat="header", nr=14).title}}</h6>
                                    <p>{{doc.part_get(cat="block", nr=39).text | safe}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA Sec -->
        <div class="my-6">
            <div class="layout-inner-content">
                <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=15).title}}</h1>
                {{doc.part_get(cat="block", nr=40).text | safe}}
                <a href="{{doc.link_get(nr=20).link_source | safe}}" class="btn btn-block btn-sm-inline btn-green">{{doc.link_get(nr=20).link_descr
                    | safe}}</a>
            </div>
        </div>

        <!-- Our CityApp -->
        <div class="my-6">
            <div class="layout-inner-content">
                <h2 class="text-blue h2 mb-3">{{doc.part_get(cat="header", nr=16).title}}</h2>
            </div>

            <div class="row mb-3 mb-lg-5h">
                <div class="col-12 col-lg-5">
                    <img width="300" height="300" src="{{doc.link_get(nr=21).link_source | safe}}" alt="" class="d-block mx-auto mx-lg-0 mb-4"
                        sizes="(max-width: 300px) 100vw, 300px"> </div>
                <div class="col-12 col-lg-7 order-lg-first">
                    <div class="layout-tiny-inner-content">
                        <h4>{{doc.part_get(cat="header", nr=17).title}}</h4>
                        {{doc.part_get(cat="block", nr=43).text | safe}}
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA Sec -->
        <div class="layout-inner-content">
            <h1 class="text-blue h1 mb-3">{{doc.part_get(cat="header", nr=18).title}}</h1>
            <p>{{doc.part_get(cat="block", nr=44).text | safe}}</p>
            <a href="{{doc.link_get(nr=22).link_source | safe}}" class="btn btn-block btn-sm-inline btn-green">{{doc.link_get(nr=22).link_descr | safe}}</a>
        </div>
    </div>
</div>
{% endblock %}