<div class="layout-section">
    <div class="layout-container">
        <h2 class="text-blue mt-0">{{ .Params.mainHeader }}</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ .Params.value_img }}" class="attachment-full size-full" alt="{{ .Params.value_header }}">
                    </div>
                    <div class="col-12">
                        <h6 class="alt">{{ .Params.value_header }}</h6>
                        <p>{{ .Params.value_content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ .Params.reliable_img }}" class="attachment-full size-full" alt="{{ .Params.reliable_header }}">
                    </div>
                    <div class="col-12">
                        <h6 class="alt">{{ .Params.reliable_header }}</h6>
                        <p>{{ .Content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ .Params.good_img }}" class="attachment-full size-full" alt="{{ .Params.good_header }}">
                    </div>
                    <div class="col-12">
                        <h6 class="alt">{{ .Params.good_header }}</h6>
                        <p>{{ .Params.good_content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ .Params.value_img }}" class="attachment-full size-full" alt="{{ .Params.value_header }}">
                    </div>
                    <div class="col-12">
                        <h6 class="alt">{{ .Params.value_header }}</h6>
                        <p>{{ .Params.value_content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ .Params.reliable_img }}" class="attachment-full size-full" alt="{{ .Params.reliable_header }}">
                    </div>
                    <div class="col-12">
                        <h6 class="alt">{{ .Params.reliable_header }}</h6>
                        <p>{{ .Content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ .Params.good_img }}" class="attachment-full size-full" alt="{{ .Params.good_header }}">
                    </div>
                    <div class="col-12">
                        <h6 class="alt">{{ .Params.good_header }}</h6>
                        <p>{{ .Params.good_content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>