<div class="layout-section">
    <div class="layout-container">
        <h1 class="text-blue mt-0">{{ .Params.mainHeader }}</h1>
        <div class="layout-inner-content">
            <div class="page-description mb-3">{{ .Content }}</div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3 text-md-left text-center">
                <img src="{{ .Params.value_img }}" class="attachment-full size-full" alt="{{ .Params.value_header }}">
                <h6 class="alt">{{ .Params.value_header }}</h6>
                <p>{{ .Params.value_content }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3 text-md-left text-center">
                <img src="{{ .Params.reliable_img }}" class="attachment-full size-full" alt="{{ .Params.reliable_header }}">
                <h6 class="alt">{{ .Params.reliable_header }}</h6>
                <p>{{ .Params.reliable_content }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3 text-md-left text-center">
                <img src="{{ .Params.good_img }}" class="attachment-full size-full" alt="{{ .Params.good_header }}">
                <h6 class="alt">{{ .Params.good_header }}</h6>
                <p>{{ .Params.good_content }}</p>
            </div>

            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3 text-md-left text-center">
                <img src="{{ .Params.future_img }}" class="attachment-full size-full" alt="{{ .Params.future_header }}">
                <h6 class="alt">{{ .Params.future_header }}</h6>
                <p>{{ .Params.future_content }}</p>
            </div>

            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3 text-md-left text-center">
                <img src="{{ .Params.gigEu_img }}" class="attachment-full size-full" alt="{{ .Params.gigEu_header }}">
                <h6 class="alt">{{ .Params.gigEu_header }}</h6>
                <p>{{ .Params.gigEu_content }}</p>
            </div>

            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3 text-md-left text-center">
                <img src="{{ .Params.img }}" class="attachment-full size-full" alt="{{ .Params.header }}">
                <h6 class="alt">{{ .Params.header }}</h6>
                <p>{{ .Params.content }}</p>
            </div>

            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-xl-1 my-1 my-md-2 my-xl-3 text-md-left text-center">
                <img src="{{ .Params.img_7 }}" class="attachment-full size-full" alt="{{ .Params.header_7 }}">
                <h6 class="alt">{{ .Params.header_7 }}</h6>
                <p>{{ .Params.content_7 }}</p>
            </div>

        </div>
    </div>
</div>