<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body class="single single-page single-page-sample-page frontpage">

    <div id="all">

        <div class="layout-header layout-header-fixed">

            {{ partial "nav.html" . }}

        </div>

        <div class="layout-content">
            <div class="my-6 mt-sm-10">{{ .Render "benefits" }}</div>
            {{ else if eq .Title "step 1" }}
            <div class="my-6">{{ .Render "step_1" }}</div>
            {{ else if eq .Title "step 2" }}
            <div class="my-6">{{ .Render "step_2" }}</div>
            {{ else if eq .Title "step 3" }}
            <div class="my-6">{{ .Render "step_3" }}</div>
            {{ else if eq .Title "states" }}
            <div class="my-6">{{ .Render "stats" }}</div>
            {{ else if eq .Title "token utilization" }}
            <div class="my-6">{{ .Render "token_utilization" }}</div>
            {{ else if eq .Title "video" }}
            <div id="modal-intro-movie" class="modal modal-lightbox fade">{{ .Render "video" }}</div>
            {{end}} {{end}}

        </div>
    </div>
    {{ partial "footer.html" . }} {{ partial "scripts.html" . }}
</body>

</html>
