<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body class="single single-page single-page-sample-page frontpage">

    <div id="all">

        <div class="layout-header layout-header-fixed">

            {{ partial "nav.html" . }}

        </div>

        <div class="layout-content">
          <div class="layout-container">
            {{ range .Data.Pages }}
            {{ if eq .Title "partnervision" }}
            <div class="my-6 mt-sm-10">{{ .Render "partnervision" }}</div>
            {{ else if eq .Title "benefits" }}
            <div class="my-6 mt-sm-10">{{ .Render "benefits" }}</div>
            {{ else if eq .Title "individual" }}
            <div class="team">{{ .Render "individual" }}</div>
            {{ else if eq .Title "step 1" }}
            <div class="my-6 mt-sm-10">{{ .Render "step_1" }}</div>
            {{ else if eq .Title "developers" }}
            <div class="team">{{ .Render "developers" }}</div>
            {{ else if eq .Title "tft listings" }}
            <div class="my-6 mt-sm-10">{{ .Render "tft_listings" }}</div>
            {{end}}
            {{end}}
          </div>
        </div>
    </div>
    {{ partial "footer.html" . }} {{ partial "scripts.html" . }}
</body>

</html>
