<div class="w-row">
    <h3 class="text-blue h3 bold">{{ .Params.header }}</h3>

    <div class="w-col w-col-stack">
        <div class="fc-list">
          <div class="farmer-card">
              <h3 class="step-title f-title">{{ .Params.TFFarmer4 }}</h3>
              <p class="f-contry">{{ .Params.TFFarmer4_country }}</p>
              <a href="{{ .Params.TFFarmer3_url }}">{{ .Params.TFFarmer4_txt }}</a>
          </div>
            <div class="farmer-card">
                <h3 class="step-title f-title">{{ .Params.TFFarmer1 }}</h3>
                <p class="f-contry">{{ .Params.TFFarmer1_country }}</p>
                <a href="{{ .Params.TFFarmer1_url }}">{{ .Params.TFFarmer1_txt }}</a>
            </div>
            <div class="farmer-card">
                <h3 class="step-title f-title">{{ .Params.TFFarmer2 }}</h3>
                <p class="f-contry">{{ .Params.TFFarmer2_country }}</p>
                <a href="{{ .Params.TFFarmer2_url }}">{{ .Params.TFFarmer2_txt }}</a>
            </div>
            <div class="farmer-card">
                <h3 class="step-title f-title">{{ .Params.TFFarmer3 }}</h3>
                <p class="f-contry">{{ .Params.TFFarmer3_country }}</p>
                <a href="{{ .Params.TFFarmer3_url }}">{{ .Params.TFFarmer3_txt }}</a>
            </div>
        </div>
    </div>
</div>
