<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body class="single single-page single-page-sample-page frontpage">

    <div id="all">

        <div class="layout-header layout-header-fixed">

            {{ partial "nav.html" . }}

        </div>

        <div class="layout-content">
            {{ range .Data.Pages }}
            {{ if eq .Title "header" }}
            <div class="layout-intro">{{ .Render "header" }}</div>
            <div class="layout-container">
                {{ else if eq .Title "tokenbenefits" }}
                <div class="my-6 mt-sm-10">{{ .Render "tokenbenefits" }}</div>
                {{ else if eq .Title "gettokens" }}
                <div class="my-6 mt-sm-10">{{ .Render "gettokens" }}</div>
                {{ else if eq .Title "calltoaction_1" }}
                <div class="my-6">{{ .Render "vision" }}</div>
                {{ else if eq .Title "states" }}
                <div class="my-6">{{ .Render "stats" }}</div>
                {{ else if eq .Title "token utilization" }}
                <div class="my-6">{{ .Render "token_utilization" }}</div>
                {{ else if eq .Title "calltoaction_2" }}
                <div class="my-6">{{ .Render "vision" }}</div>
                {{ else if eq .Title "ourcityapp" }}
                <div class="my-6">{{ .Render "ourcityapp" }}</div>
                {{ else if eq .Title "calltoaction_3" }}
                <div class="my-6">{{ .Render "vision" }}</div>
                {{ else if eq .Title "video" }}
                <div id="modal-intro-movie" class="modal modal-lightbox fade">{{ .Render "video" }}</div>
                {{end}} {{end}}
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }} {{ partial "scripts.html" . }}
</body>

</html>
