<div id="section-stats" class="layout-section">
    <div class="layout-container">
        <h2 class="mt-0">{{ .Params.header }}</h2>
        <div class="row">
            <div class="col-12 col-xl-11 offset-xl-1 my-1">
                <div class="block-aqua block-stats">
                    <div class="row no-gutters my-n1 my-sm-0">
                        <div class="col-12 col-md-3 my-1 my-md-0 pr-md-3 pr-lg-4">
                            <p class="mb-0h text-black">{{ .Params.token_price }}</p>
                            <p class="mb-0 stat-number text-blue" id ="stats"></p>
                        </div>
                        <div class="col-12 col-md-6 my-1 my-md-0 pr-md-3 pr-lg-4">
                            <div class="stat-separator"></div>
                            <p class="mb-0h text-black">{{ .Params.token_capitalization }}</p>
                            <p class="mb-0 stat-number text-blue" id="capitalization"></p>
                        </div>
                        <div class="col-12 col-md-3 my-1 my-md-0">
                            <div class="stat-separator"></div>
                            <p class="mb-0h text-black">{{ .Params.trading_volume }}</p>
                            <p class="mb-0 stat-number text-blue" id ="volume"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-11 offset-xl-1">
                <div class="row">
                    <div class="col-12 col-md-4 my-1">
                        <a href="{{ .Params.TfRadar_link }}" target="_blank" class="block-white block-outline block-stats">
                            <div class="row align-items-center">
                                <div class="col-10 col-md-12 col-lg-8 text-md-center text-lg-left">
                                    <span class="d-block text-black mb-md-1 mb-lg-0">{{ .Params.TFRadar }}</span>
                                </div>
                                <div class="col-2 col-md-12 col-lg-4 order-first order-md-2 order-lg-first">
                                    <img src="{{ .Params.TFRadar_img }}" class="d-block mx-auto" alt="{{ .Params.TFRadar }}">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 my-1">
                        <a href="{{ .Params.explorer_link }}" target="_blank" class="block-white block-outline block-stats">
                            <div class="row align-items-center">
                                <div class="col-10 col-md-12 col-lg-8 text-md-center text-lg-left">
                                    <span class="d-block text-black mb-md-1 mb-lg-0">{{ .Params.explorer }}</span>
                                </div>
                                <div class="col-2 col-md-12 col-lg-4 order-first order-md-2 order-lg-first">
                                    <img src="{{ .Params.explorer_img }}" class="d-block mx-auto" alt="{{ .Params.explorer }}">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 my-1">
                        <a href="{{ .Params.explorer2_link }}" target="_blank" class="block-white block-outline block-stats">
                            <div class="row align-items-center">
                                <div class="col-10 col-md-12 col-lg-8 text-md-center text-lg-left">
                                    <span class="d-block text-black mb-md-1 mb-lg-0">{{ .Params.explorer2 }}</span>
                                </div>
                                <div class="col-2 col-md-12 col-lg-4 order-first order-md-2 order-lg-first">
                                    <img src="{{ .Params.explorer2_img }}" class="d-block mx-auto" alt="{{ .Params.explorer2 }}">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>